{% extends 'admin_base.html.twig' %}

{% block title %}Dashboard Magical Marina gestion du texte{% endblock %}

{% block body %}

    <h2>Creer Texte</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}